/*show
.show img {visibility:hidden;
    z-index:1;
    width:50vw;
    height:auto;
    
}
.show h1{visibility:}
*/

h1, p1, p2, a {font-family: 'Open Sans', sans-serif;}
p1{font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

p1, p2, a{font-size: 14px;}
p1{border-bottom: 1px;}

.show {
    position: fixed;
    right:50%;
    top:50%;
    transform: translate(50%,-50%);  
}

img {
    position: fixed;
    right:50%;
    width: 50%;
    top:50%;
    z-index: -10;
    transform: translate(50%,-50%);  
}

.Display1{
    opacity: 0;
}
.Display1.open{
    opacity: 1;
}


.greeting{
width:30vw;
max-width:300px;
min-width:200px;
bottom:50px;
    position: absolute;
float:left;}

ul {list-style:none;
} 

a {color:grey;}
a:hover {color:blue;}
