/*show
.show img {visibility:hidden;
    z-index:1;
    width:50vw;
    height:auto;
    
}
.show h1{visibility:}
*/

h1, p1, p2, a{font-family: 'Open Sans', sans-serif;}
/*p1{font-family: 'Open Sans', sans-serif:600;}*/

p1, p2{font-size: 14px;}
p1{border-bottom: 1px;}

.show {
    margin
    margin-left:20vw;
    margin-right:20vw;
    float:left;    
}

.greeting{
width:30vw;
max-width:400px;
min-width:200px;
float:left;}

li{list-style:none;
} 

a {color:grey;}
a:hover {color:blue;}
